@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bebas+Neue&family=Fjalla+One&family=Poppins:wght@200&display=swap);

body {
	background-color:#2f3152;
	text-align:center;
	font-family:"Balsamiq Sans";
	color:white;
}

h1 {
	color:white;
	font-size:75px;	
	font-family:"Poppins";
	
}

p {
	margin: 30px 150px 150px 150px;
	font-family:"Balsamiq Sans";
	font-size:30px;
}

h3 {
	margin: 200px 0 30px 0;
	font-family:"Poppins";
	font-size:65px;
	font-weight:500;
}

.foto {
	margin: -100px 600px 0 0;
}

.Fotografi {
	margin: 0 600px 0 0;
}

.desain {
	margin: -193px 0 0 600px;
}

.Desaingrafis {
	margin: 0 0 5px 600px;
}

.buku {
	margin: 100px 550px 0 0;
}

.Jurnalistik {
	margin: 10px 590px 0 0;
}

.internet {
	margin: -203px 0 0 600px;
}

.Desainweb {
	margin: 10px 0 0 600px;
}

h4 {
	margin: 200px 0 -75px 0;
	font-family:"Fjalla One";
	font-size:50px;
}


table {
	border-collapse:collapse;
	position:relative;
	margin:auto;
}

table th,
table td {
	border:1px solid #f5f5f5;
	padding:28px 57px;
	font-size:25px;
}

table th {
	background-color:#c2cfe4;
	color: #3e416d;
}

a {
	display: grid;
	height: 55px;
	width: 175px;
	background: linear-gradient(
		#9365ff,
		#6f3bff
	);
	position: relative;
	margin: auto;
	place-items:center;
	color:#ffffff;
	font-family:"Balsamiq Sans";
	font-size:20px;
	font-weight:500;
	text-decoration:none;
	letter-spacing:3px;
	border-radius:50px;
}

.quotes {
	font-family:"Poppins";
}